h1 {
    color: red;
}

body {
    font-family: sans-serif;
}

header, nav, main, footer {
    padding: 0.5em;
}

header {
    background-color: #F44336;
    color: white;
    font-size: 3em;
    font-weight: bold;
}

nav {
    background-color: #AC0002;
    color: white;
    font-weight: bold;
}

footer {
    background-color: #D3D3D3;
}

a:main {
    color: #F44336;
}

img {
    width: 200px;
}

th, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
}

.af1 {
    background-color: #FFF7D8;
}

.af2 {
    background-color: #D6E4FF;
}

.af3 {
    background-color: #EEFDD7;
}

.af4 {
    background-color: #CCEEFF;
}

@keyframes change-background {
    from {
        background-color: green;
    }

    to {
        background-color: blue;
    }
}

@keyframes rechts {
    from {
        margin-left: 0px;
    }

    to {
        margin-left: 500px;
    }
}

@keyframes left-to-right {
    from {
        margin-left: -225px;
    }

    to {
        margin-left: 830px;
    }
}

.animiert {
    animation-name: change-background;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 1s;
}

.car1 {
    animation-name: rechts;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.car2 {
    animation-name: rechts;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.car3 {
    animation-name: rechts;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.car4 {
    animation-name: rechts;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.street {
    position: relative;
    width: 830px;
    height: 538px;
    background-image: url("background.png");
    overflow: hidden;
    margin: 0 auto; 
}

.auto1 {
    position: absolute;
    width: 225px;
    margin-top: 355px;
    margin-left: -225px;
    animation-name: left-to-right;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}